{
  "traders": [
    {
      "id": "hyperliquid_deepseek",
      "name": "Hyperliquid DeepSeek Trader",
      "enabled": true,
      "ai_model": "deepseek",
      "exchange": "hyperliquid",
      "hyperliquid_private_key": "${HYPERLIQUID_PRIV_KEY}",
      "hyperliquid_wallet_addr": "${HYPERLIQUID_WALLET_ADDR}",
      "hyperliquid_testnet": false,
      "deepseek_key": "${DEEPSEEK_KEY}",
      "initial_balance": 50,
      "scan_interval_minutes": 3
    },
     {
      "id": "hyperliquid_qwen",
      "name": "Hyperliquid Qwen Trader",
      "enabled": true,
      "ai_model": "qwen",
      "exchange": "hyperliquid",
      "hyperliquid_private_key": "${HYPERLIQUID_QWEN_PRIV_KEY}",
      "hyperliquid_wallet_addr": "${HYPERLIQUID_QWEN_WALLET_ADDR}",
      "hyperliquid_testnet": false,
      "qwen_key": "${QWEN_KEY}",
      "initial_balance": 50,
      "scan_interval_minutes": 3
    }
  
  ],
  "leverage": {
    "btc_eth_leverage": 5,
    "altcoin_leverage": 5
  },
  "use_default_coins": true,
  "default_coins": [
    "BTCUSDT",
    "ETHUSDT",
    "SOLUSDT",
    "BNBUSDT",
    "TAOUSDT",
    "ZECUSDT",
    "PUMPUSDT",
    "HYPEUSDT"
  ],
  "coin_pool_api_url": "",
  "oi_top_api_url": "",
  "api_server_port": 8080,
  "max_daily_loss": 10.0,
  "max_drawdown": 20.0,
  "stop_trading_minutes": 60
}
